# node_modules and package manager-related files
node_modules
.pnpm

# build outputs
dist
out
.output
.cache
.next
.vinxi

# environment variables and secrets
.env*

# IDE/editor settings
.vscode
.idea
*.swp
*.swo

# logs and runtime files
pnpm-debug.log*
turbo-debug.log*
*.log
*.pid
*.seed
*.pid.lock

# Docker-specific files
Dockerfile*
docker-compose*.yml
.docker*

# OS-specific files
.DS_Store
Thumbs.db

# test and coverage files
coverage
__tests__
test
tests
*.test.*
*.spec.*
jest.config.*
vitest*

# Development
.git

.github
*.md


# Turbo
.turbo

# TypeScript
*.tsbuildinfo

# Temporary files
*.tmp
*.temp
.cache 