# Ignore node_modules and package manager-related files
node_modules
.pnpm
.turbo

# Ignore build outputs
dist
out
.cache
.next
.vinxi

# Ignore environment variables and secrets
.env*

# Ignore IDE/editor settings
.vscode
.idea
*.swp
*.swo

# Ignore logs and runtime files
pnpm-debug.log*
turbo-debug.log*
*.log
*.pid
*.seed
*.pid.lock

# Ignore Docker-specific files
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore test and coverage files
coverage
*.test.js
*.test.ts
*.spec.js
*.spec.ts
jest.config.js
jest.config.ts
vitest*
